
/* Base */

*, *:after, *:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 750px;
    margin: auto;
    padding: 1em;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: normal;
}

a {
    text-decoration: none;
}

pre, blockquote {
    background: #f8f8f8;
    padding: 0.5em 1em;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
}

pre {
    overflow-x: auto;
}

hr {
    border: 0;
    border-top: 1px solid #c0c0c0;
}

/* Utility */

.clearfix:after {
    clear: both;
    content: ' ';
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.right {
    text-align: right;
}

.error {
    color: red;
}

/* Spacing */

button,
dd,
dt,
li,
fieldset,
input,
select,
textarea,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul,
.input-row {
    margin-bottom: 1em;
}

section {
    padding-bottom: 1em;
}

/* Forms */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.3em 0.75em;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input:not([type]),
textarea,
select {
    border: 1px solid #c0c0c0;
    padding: .5em;
    width: 100%;
}

input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'] {
    padding: 5px;
}

select, .input-row {
    height: 36px;
    width: 100%;
}

.input-row * {
    margin: auto;
}

/*
input[type='color'] {
    height: 36px;
    width: 3em;
    padding: 0.25em 0.4em;
}
*/

textarea {
    resize: vertical;
}

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    padding: 0.5em 0.75em;
    background-color: #f4f4f4;
    border: 1px solid #c0c0c0;
}

button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
    background-color: #e0e0e0;
}

/* Lists */

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
    margin-top: 1em;
    margin-left: 1.5em;
}

dl, ol, ul {
    padding-left: 0;
    line-height: 0.5em;
}

ul, ol {
    list-style-position: inside;
}

/* Grid */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    padding: 0 0.5em;
    flex: 1;
}

.col:first-child {
    padding-left: 0;
}

.col:last-child {
    padding-right: 0;
}

/* Table */

table {
    border-spacing: 0;
    width: 100%;
}

td, th {
    text-align: left;
    border-bottom: 1px solid #c0c0c0;
    padding: 0.5em;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}
