<!doctype html>
<html lang="en">
{{ template "head.html" .Title}}
<link rel="stylesheet" href="/static/codemirror-bundle.css">
<style>
    textarea, .CodeMirror {
        height: calc(100vh - 140px);
        margin-top: 0.75em;
    }
    body {
        padding-bottom: 0;
    }
    input[type="submit"], input[type="date"], form {
        margin-bottom: 0;
    }
</style>
<body>

<div class="right">
    <a href="/{{.BlogSlug}}">home</a>
    {{if .PageSlug}}
    | <a href="/{{.BlogSlug}}/{{.PageSlug}}">view</a>
    | <a href="/{{.BlogSlug}}/{{.PageSlug}}/delete">delete</a>
    {{end}}
</div>

<form method="POST">
    <textarea name="body" placeholder="Body" id="body">{{printf "%s" .Body}}</textarea>
    
    {{if .Error}}
    <div class="error">{{.Error}}</div>
    {{end}}

    <div class="row">
        <div class="col">
            <input type="checkbox" name="show" {{if .Show}}checked="checked"{{end}} value="1" /> Show Listing
        </div>
        <div class="col">
            <div class="float-right">
                <a href="#" id="syntaxtoggle">syntax off</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="date" name="date" value="{{.FormattedDate}}" />
        </div>
        <div class="col">
            <div class="float-right"><input type="submit" value="Save" /></div>
        </div>
    </div>
</form>

<script src="/static/codemirror-bundle.js"></script>
</body>
</html>