<!doctype html>
<html lang="en">
{{ template "head.html" .Title}}
<link rel="stylesheet" href="/static/codemirror-bundle.css">
<style>
.CodeMirror {
    height: 600px;
    margin-bottom: 1.5em;
    border: 1px inset rgb(238, 238, 238);
    padding: .5em 1%;
    width: 99%;
}
</style>
<body>

<div class="right">
    <a href="/{{.BlogSlug}}">home</a>
    {{if .PageSlug}}
    | <a href="/{{.BlogSlug}}/{{.PageSlug}}">view</a>
    | <a href="/{{.BlogSlug}}/{{.PageSlug}}/delete">delete</a>
    {{end}}
</div>

<form method="POST">
    <input type="text" name="title" value="{{.Title}}" placeholder="Title" />
    <div>
        <input type="datetime-local" name="date" value="{{.FormattedDateTime}}" />
        <input type="checkbox" name="show" {{if .Show}}checked="checked"{{end}} value="1" /> Show in Listing
    </div>
    <textarea name="body" placeholder="Body" id="body">{{printf "%s" .Body}}</textarea>
    
    {{if .Error}}
    <div class="error">{{.Error}}</div>
    {{end}}

	<input type="submit" value="Save" />
</form>

<script src="/static/codemirror-bundle.js"></script>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("body"), {
        mode: 'markdown',
        lineNumbers: false,
        theme: "default",
        extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"},
        fencedCodeBlockHighlighting: true,
        lineWrapping: true
    });
</script>
</body>
</html>