<!doctype html>
<html lang="en">
{{ template "head.html" .Title}}
<link rel="stylesheet" href="/static/codemirror-bundle.css">
<style>
    textarea, .CodeMirror {
        height: calc(100vh - 180px);
    }
    body {
        padding-bottom: 0;
    }
    input[type="submit"], input[type="date"], form {
        margin-bottom: 0;
    }
</style>
<body>

<div class="right">
    <a href="/{{.BlogSlug}}">home</a>
</div>

<form method="POST">
    <h1>{{.Title}}</h1>
    <textarea name="body" placeholder="Body" id="body">{{printf "%s" .Body}}</textarea>
    <div class="float-right"><a href="#" id="syntaxtoggle">syntax off</a></div>

	<div><input type="submit" value="Save" /></div>
</form>

<script src="/static/codemirror-bundle.js"></script>
</body>
</html>