<!doctype html>
<html lang="en">
{{ template "head.html" .Blog.Title}}
<body>

<h1>{{.Blog.Title}}</h1>

<div>{{.Blog.Html}}</div>

<hr>

<div class="right">
    {{if .Unlocked}}
    <a href="/{{.Blog.BlogSlug}}/add">add</a>
    | <a href="/{{.Blog.BlogSlug}}/edit">edit</a>
    | <a href="/{{.Blog.BlogSlug}}/lock">lock</a>
    {{else}}
    <a href="/{{.Blog.BlogSlug}}/unlock">unlock</a>
    {{end}}
</div>

{{ range $index, $page := .Pages }}
    <h2><a href="/{{$.Blog.BlogSlug}}/{{$page.PageSlug}}">{{ $page.Title }}</a></h2>
    <p class="subtitle">
        {{ $page.FormattedDate }}
        {{if not $page.Show}} (hidden) {{end}}
    </p>
{{ end }}

</body>
</html>