<!doctype html>
<html lang="en">
{{ template "head.html" .Blog.Title}}
<style>
    .listing {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .listing > h2 > a {
        color: black;
    }

    .listing * {
        margin-bottom: 0.2em;
        margin-top: 0.2em;
    }
</style>
<body>

<div class="right">
    {{if .Unlocked}}
    <a href="/{{.Blog.BlogSlug}}/add">add post</a>
    | <a href="/{{.Blog.BlogSlug}}/edit">customize</a>
    | <a href="/{{.Blog.BlogSlug}}/lock">lock</a>
    {{end}}
</div>

<h1>{{.Blog.Title}}</h1>

<div>{{.Blog.Html}}</div>

<hr>

{{ range $index, $page := .Pages }}
    <section class="listing">
        <h2><a href="/{{$.Blog.BlogSlug}}/{{$page.PageSlug}}">{{ $page.Title }}</a></h2>
        <code>
            {{ $page.FormattedDate }}
            {{if not $page.Show}} (hidden) {{end}}
        </code>
        {{ if $page.Summary }}
        <div>{{ $page.Summary }}</div>
        <div><a href="/{{$.Blog.BlogSlug}}/{{$page.PageSlug}}">read more</a></div>
        {{ end }}
    </section>
{{ end }}

{{ if not .Unlocked }}
<div class="right">
    <a href="/{{.Blog.BlogSlug}}/unlock">unlock</a>
</div>
{{ end }}

</body>
</html>