<!doctype html>
<html lang="en">
{{ template "head.html" .Blog.Title}}
<body>

<div class="right">
    {{if .Unlocked}}
    <a href="/{{.Blog.BlogSlug}}/add">add post</a>
    | <a href="/{{.Blog.BlogSlug}}/edit">customize</a>
    | <a href="/{{.Blog.BlogSlug}}/lock">lock</a>
    {{end}}
</div>

<h1>{{.Blog.Title}}</h1>

<div>{{.Blog.Html}}</div>

<hr>

{{ range $index, $page := .Pages }}
    <h2 class="title"><a href="/{{$.Blog.BlogSlug}}/{{$page.PageSlug}}">{{ $page.Title }}</a></h2>
    <p class="subtitle">
        {{ $page.FormattedDate }}
        {{if not $page.Show}} (hidden) {{end}}
    </p>
    {{ if $page.Summary }}
    <div class="summary">{{ $page.Summary }}</div>
    <div class="summary"><a href="/{{$.Blog.BlogSlug}}/{{$page.PageSlug}}">read more</a></div>
    {{ end }}
{{ end }}

{{ if not .Unlocked }}
<div class="right">
    <a href="/{{.Blog.BlogSlug}}/unlock">unlock</a>
</div>
{{ end }}

</body>
</html>